In [8]:
import pyarrow.parquet as pq

In [ ]:
CREATE MODEL temp_observado_auto_model_v2 FROM (SELECT codigoestacion,
FECHA,
valorobservado,
departamento,
latitud,
longitud
FROM public.temp_definitiva
WHERE FECHA <  '2018-01-01')
TARGET valorobservado FUNCTION ml_fn_temp_observado_v2
IAM_ROLE 'arn:aws:iam::300013369769:role/LabRole'
SETTINGS (
 S3_BUCKET 'psariaszlab1'
);

In [ ]:
SELECT * FROM STV_ML_MODEL_INFO;

In [ ]:
SELECT departamento,
ml_fn_temp_observado_v2(codigoestacion,
FECHA,
departamento,
latitud,
longitud)
AS active FROM public.temp_definitiva WHERE FECHA > '2018-01-01';

In [ ]:
create external schema trabajo1_schema
from data catalog
database 'trabajo1_db'
iam_role 'arn:aws:iam::300013369769:role/LabRole'
create external database if not exists;

In [ ]:
create external table trabajo1_schema.temperaturas_ideam(
    codigoestacion BIGINT,
    codigosensor BIGINT,
    fechaobservacion varchar(50),
    valorobservado DOUBLE PRECISION,
    nombreestacion varchar(50),
    departamento varchar(50),
    municipio varchar(50),
    zonahidrografica varchar(50),
    latitud DOUBLE PRECISION,
    longitud DOUBLE PRECISION,
    descripcionsensor varchar(50),
    unidadmedida  varchar(50))
STORED AS PARQUET
LOCATION 's3://psariaszlab1/trusted/';

In [ ]:
SELECT
    nombreestacion,
    AVG(valorobservado) AS average_valorobservado, departamento
FROM
    trabajo1_schema.temperaturas_ideam
GROUP BY
    nombreestacion, departamento
ORDER BY
    average_valorobservado DESC;

In [ ]:
SELECT municipio, unidadmedida,valorobservado
FROM trustedtrusted
WHERE valorobservado >= 30
ORDER BY valorobservado DESC;

In [ ]:
USE trabajo_1;
CREATE EXTERNAL TABLE temperaturas_ideam (
    idestacion BIGINT,
    sensor BIGINT,
    fecha TIMESTAMP,
    valorobservado DOUBLE,
    nombreestacion STRING,
    departamento STRING,
    municipio STRING,
    zonahidro STRING,
    latitud DOUBLE,
    longitud DOUBLE,
    descripcion STRING,
    unidad STRING
) 
ROW FORMAT SERDE 'org.apache.hadoop.hive.serde2.OpenCSVSerde'
WITH SERDEPROPERTIES (
   "separatorChar" = ",",
   "quoteChar"     = "'",
   "escapeChar"    = "\\"
)
LOCATION '/user/hadoop/trabajo_1/';

In [ ]:
use trabajo_1;
CREATE EXTERNAL TABLE temperaturas_ideam_s3 (
    idestacion BIGINT,
    sensor BIGINT,
    fecha TIMESTAMP,
    valorobservado DOUBLE,
    nombreestacion STRING,
    departamento STRING,
    municipio STRING,
    zonahidro STRING,
    latitud DOUBLE,
    longitud DOUBLE,
    descripcion STRING,
    unidad STRING
) 
STORED AS PARQUET
LOCATION 's3://psariaszlab1/trusted'

In [11]:
# Especifica la ruta al archivo Parquet
ruta_archivo_parquet = "C:\\Users\psari\Downloads/archivo.parquet"

# Lee el archivo Parquet en una tabla pyarrow
tabla_parquet = pq.read_table(ruta_archivo_parquet)

# Convierte la tabla a un DataFrame de pandas si lo deseas
df = tabla_parquet.to_pandas()

# Ahora puedes trabajar con el DataFrame df
df

,codigoestacion,codigosensor,fechaobservacion,valorobservado,nombreestacion,departamento,municipio,zonahidrografica,latitud,longitud,descripcionsensor,unidadmedida
0,23125170,68,2006-09-21T12:00:00.000,15.90000,SAN CAYETANO - AUT,CUNDINAMARCA,SAN CAYETANO,MEDIO MAGDALENA,5.333333,-74.016667,Temp Aire 2 m,°C
1,16025501,68,2018-12-02T09:20:00.000,23.02354,CUCUTILLA - AUT,NORTE DE SANTANDER,CUCUTILLA,CATATUMBO,7.519456,-72.797903,Temp Aire 2 m,°C
2,52055501,68,2016-06-25T04:05:00.000,16.30000,OSPINA PEREZ - AUT,NARIÑO,CONSACÁ,PATÍA,1.254722,-77.487778,Temp Aire 2 m,°C
3,52055210,68,2014-06-02T08:00:00.000,13.30000,BOTANA - AUT,NARIÑO,PASTO,PATÍA,1.160000,-77.278806,Temp Aire 2 m,°C
4,26155502,68,2019-07-27T00:05:00.000,20.45158,CENICAFE - AUT,CALDAS,MANIZALES,CAUCA,4.991111,-75.597497,Temp Aire 2 m,°C
...,...,...,...,...,...,...,...,...,...,...,...,...
995,25025000,68,2016-10-13T13:00:00.000,32.00000,EL DIFICIL - AUT,MAGDALENA,ARIGUANÍ (EL DIFICIL),CESAR,9.911972,-74.085806,Temp Aire 2 m,°C
996,21206780,68,2013-03-15T07:30:00.000,14.80000,LA INDEPENDENCIA FOPAE Fuera de Servicio,BOGOTA D.C.,"BOGOTA, D.C",ALTO MAGDALENA,4.617000,-74.317000,Temp Aire 2 m,°C
997,2120700038,68,2019-04-04T10:34:00.000,19.01000,SAN FRANCISCO - AUT,BOGOTA D.C.,"BOGOTA, D.C",ALTO MAGDALENA,4.562000,-74.149000,Temp Aire 2 m,°C
998,21202250,68,2014-10-21T21:55:00.000,14.30000,DOÑA JUANA - FOPAE,BOGOTA D.C.,"BOGOTA, D.C",ALTO MAGDALENA,4.500000,-74.133000,Temp Aire 2 m,°C
999,26145503,68,2019-07-02T01:10:00.000,17.47058,ANSERMA - AUT,CALDAS,ANSERMA,CAUCA,5.231331,-75.779617,Temp Aire 2 m,°C

In [1]:
from pyarrow.parquet import ParquetFile
# Source is either the filename or an Arrow file handle (which could be on HDFS)
ParquetFile("run-1696547086350-part-block-0-r-00000-snappy.parquet").metadata

<pyarrow._parquet.FileMetaData object at 0x00000183E730FF10>
  created_by: parquet-glue version 1.8.2
  num_columns: 12
  num_rows: 1000
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 1561

In [2]:
import pyarrow.parquet as pq
pfile = pq.read_table("run-1696547086350-part-block-0-r-00000-snappy.parquet")
print("Column names: {}".format(pfile.column_names))
print("Schema: {}".format(pfile.schema))

Column names: ['codigoestacion', 'codigosensor', 'fechaobservacion', 'valorobservado', 'nombreestacion', 'departamento', 'municipio', 'zonahidrografica', 'latitud', 'longitud', 'descripcionsensor', 'unidadmedida']
Schema: codigoestacion: int64
codigosensor: int64
fechaobservacion: string
valorobservado: double
nombreestacion: string
departamento: string
municipio: string
zonahidrografica: string
latitud: double
longitud: double
descripcionsensor: string
unidadmedida: string